<!--Video bar-->
<div class="video-bar">
    <div class="video-bar-content">
        <div class="video-bar-txt">CLARO SPORTS EN SOCHI 2014
        </div>
        <div class="circle-videos">
            <div class="video">
                <div class="container">
                    <img class="image" src="../../../assets/team-latam.png" alt="">
                    <div class="overlay">
                        <div class="text">Duis tincidunt pellentesque condimentum. Aliquam erat volutpat.</div>
                    </div>

                </div>

                <div class='video-txt'>TEAM LATAM</div>
            </div>
            <div class="video">
                <div class="container">
                    <img class="image" src="../../../assets/travel-meets-fashion.png" alt="">
                    <div class="overlay">
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    </div>

                </div>

                <div class='video-txt'>TRAVEL MEETS FASHION</div>
            </div>
            <div class="video">
                <div class="container">
                    <img class="image" src="../../../assets/velocidad-riesgo.png" alt="">
                    <div class="overlay">
                        <div class="text"> Suspendisse eu consequat urna. Integer ac auctor lorem. </div>
                    </div>
                </div>

                <div class='video-txt'>VELOCIDAD Y RIESGO</div>
            </div>
            <div class="video">
                <div class="container">
                    <img class="image" src="../../../assets/experiencia.png" alt="">
                    <div class="overlay">
                        <div class="text">Sed ligula erat, sagittis sit amet ultricies eu, eu nisl.</div>
                    </div>

                </div>

                <div class='video-txt'>EXPERIENCIA MULTIMEDIA</div>
            </div>
        </div>
    </div>
</div>