<!-- Headder-->
<div class="header">
    <a class='header-logo' href='http://www.google.com'><img class='sochi-logo' href=''
            src='../../../assets/logo-sochi.png'></a>
    <a class='header-logo' href='http://www.google.com'><img class='claro-sports'
            src='../../../assets/logo-claro-sports.png'></a>
</div>
<!-- Contenido-->
<div class="content">
    <div class="card">
        <label>FALTAN</label>
        <!-- Contador-->
        <div>
            <td class="countdown">
                <tr>{{time.days}}</tr>
                <tr>DIAS</tr>
            </td>
            <td class="countdown">
                <tr>{{time.hours}}</tr>
                <tr>HORAS</tr>
            </td>
            <td class="countdown">
                <tr>{{time.minutes}}</tr>
                <tr>MINUTOS</tr>
            </td>
            <td class="countdown">
                <tr>{{time.seconds}}</tr>
                <tr>SEGUNDOS</tr>
            </td>
        </div>
        <!-- Video-->
        <video id="reproducing" controls autoplay onclick="changeVideo('reproducing')">
            <source src="https://www.youtube.com/watch?v=EfK-WX2pa8c">
        </video>
    </div>
    <!--Video bar-->
    <div class="video-bar">
        <div class="video-bar-txt">CLARO SPORTS EN SOCHI 2014

            <td>
                <div class="container">
                    <tr><img class="image" src="../../../assets/team-latam.png" alt="" >
                    <div class="overlay">
                        <div class="text">Hello World 1</div>
                    </div>
                </tr>
                </div>
                
                <tr class='video-txt'>TEAM LATAM</tr>
            </td>
            <td>
                <div class="container">
                    <tr><img class="image" src="../../../assets/travel-meets-fashion.png" alt="" >
                    <div class="overlay">
                        <div class="text">Hello World 2</div>
                    </div>
                </tr>
                </div>
                
                <tr class='video-txt'>TRAVEL MEETS FASHION</tr>
            </td>
            <td>
                <div class="container">
                    <tr><img class="image" src="../../../assets/velocidad-riesgo.png" alt="" >
                    <div class="overlay">
                        <div class="text">Hello World 3</div>
                    </div>
                </tr>
                </div>
                
                <tr class='video-txt'>VELOCIDAD Y RIESGO</tr>
            </td>
            <td>
                <div class="container">
                    <tr><img class="image" src="../../../assets/experiencia.png" alt="" >
                    <div class="overlay">
                        <div class="text">Hello World 4</div>
                    </div>
                </tr>
                </div>
                
                <tr class='video-txt'>EXPERIENCIA MULTIMEDIA</tr>
            </td>
        </div>

    </div>
    <div class="footer">
        <div>
            <td>
                <a href="" class="privacity-notice">Aviso de privacidad / Contacto</a>
            </td>
            <td>
                <img class='sochi-logo' href='' src='../../../assets/logo-sochi.png'>
            </td>
            <td>
                <img class='sochi-logo' href='' src='../../../assets/icons.png'>
            </td>
        </div>
    </div>
</div>