<!-- Contenido-->
<div class="content">
    <div class="card">
        <div class="Faltan">
            <label>FALTAN</label>
        </div>
        <!-- Contador-->
        <div class="contador">
            <div class="countdown">
                <div>{{time.days}}</div>
                <div>DIAS</div>
            </div>
            <div class="countdown">
                <div>{{time.hours}}</div>
                <div>HRS</div>
            </div>
            <div class="countdown">
                <div>{{time.minutes}}</div>
                <div>MIN</div>
            </div>
            <div class="countdown">
                <div>{{time.seconds}}</div>
                <div>SEG</div>
            </div>
        </div>
        <!-- Video-->
        <div class="reproducing">
            <iframe src="https://www.youtube.com/embed/EfK-WX2pa8c" allow="accelerometer; autoplay"></iframe>
        </div>

    </div>
</div>