 <!-- Headder-->
<div class="header" >
    <a class='header-logo' href='http://www.google.com'><img class='sochi-logo' href='' src='../../../assets/logo-sochi.png' ></a>
    <a class='header-logo' href='http://www.google.com'><img class='claro-sports' src='../../../assets/logo-claro-sports.png' ></a>
</div>
   <!-- Contenido-->
  <div class="content" >
      <div class="card">
          <label>FALTAN</label>
          <!-- Contador-->
           <!-- Video-->
          <video controls autoplay>
            <source src="https://www.youtube.com/watch?v=EfK-WX2pa8c" >
      </video>
      </div>

    <div class="video-bar">
         <div class="video-bar-txt">CLARO SPORTS EN SOCHI 2014
             <div class="circles">
        </div>
                <td>
                <tr><img src="../../../assets/team-latam.png" alt="" class="circle">
               </tr>
               <tr class='video-txt'>TEAM LATAM</tr>
           </td> 
                <td>
                     <tr><img src="../../../assets/travel-meets-fashion.png" alt="" class="circle">
                    </tr>
                    <tr class='video-txt'>TRAVEL MEETS FASHION</tr>
                </td> 
                <td>
                    <tr><img src="../../../assets/velocidad-riesgo.png" alt="" class="circle">
                   </tr>
                   <tr class='video-txt'>VELOCIDAD Y RIESGO</tr>
               </td> 
               <td>
                <tr><img src="../../../assets/experiencia.png" alt="" class="circle">
               </tr>
               <tr class='video-txt'>EXPERIENCIA MULTIMEDIA</tr>
           </td> 
             </div>
         
        </div>
        <div class="footer">
            <div >
                <td>
                    
                        <a href="" class="privacity-notice">Aviso de privacidad / Contacto</a>
                        
                </td>
                <td>
                    <img class='sochi-logo' href='' src='../../../assets/logo-sochi.png' >
                </td>
                <td>
                    <img class='sochi-logo' href='' src='../../../assets/icons.png' >
                </td>
            </div>
        </div>

  </div>
 

  
  
  